pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
imbalanced-learn
jupyter
notebook
ipykernel
joblib
shap
fastapi
uvicorn
python-multipart
pydantic
requests
pytest
streamlit
reportlab
streamlit-option-menu